<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Camera.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CommandSim.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DrawAircraft.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DrawingHook.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HoKey.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KeySniffer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ManagePlugins.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Navigation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ShareData.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SimData.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TimedProcessing.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>XPlaneArduino.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC4E46BD09C2E173006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E46FD09C2E7B4006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E470509C2E7E9006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E470F09C2E811006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E471709C2E83C006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E471F09C2E85C006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E472709C2E88A006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E472F09C2E8AE006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E473709C2E8DA006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E473F09C2E8F6006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E474709C2E90E006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC4E474F09C2E92A006B7E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D607B19809A556E400699BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
